body 
{
	background-image:url(background.jpg);
	background-position: top left;
}
h1 
{
	background-color: red;
	background-position:left;
 }
 a {background-color:yellow}

body {font-family: Cursive;}